
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales (MUY IMPORTANTE)
venv/
env/
ENV/
.env
iot_proyect_env/
# Base de Datos (No subas tu db local si usas sqlite)
*.sqlite3

# Archivos de Django
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Logs y Reportes
*.log
reports/

# IDEs y Editores (VS Code, PyCharm)
.vscode/
.idea/
*.swp

# Archivos del sistema
.DS_Store
Thumbs.db